@tailwind base;
@tailwind components;
@tailwind utilities;


//ACCESSIBILITY CHECKS
img:not([alt]),
img[alt=""] {
    border: 5px dashed red;
}





@layer base {

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-3xl
    }

    h4 {
        @apply text-2xl;
    }

    h5 {
        @apply text-xl;
    }

    p {
        @apply text-base;
    }


    .section-title {
        @apply font-bold mt-3 mb-5;
    }

    img {
        @apply object-contain object-center rounded;

        &::before {
           @apply text-center block py-10;
        }
    }
}



.auction {
    &[data-auction_status='running'] {
        [data-auction_price],
        [data-auction_bid_count]
        {
            @apply text-auction-blue;
        }
    }

    &[data-auction_status='not-started'] {
        [data-auction_price],
        [data-auction_bid_count]
        {
            @apply text-auction-blue;
        }
    }

    &[data-auction_status='ended'] {
        [data-auction_price],
        [data-auction_bid_count]
        {
            @apply text-auction-red;
        }

    }

    &[data-auction_status='not-started'],
    &[data-auction_status='ended'] {
        .countdown,
        .auctionTimeLeft {
            @apply text-gray-700;
        }
    }


    .auctionBlock {
        [data-auction_price] {
            &::before {
                content: '$';
                @apply text-xl relative -top-1.5 mr-0.5;
            }
        }

        [data-auction_bid_count] {
        }
    }

    &.ending-soon {
        .countdown {
            @apply text-auction-red;
        }
    }


    &.actionHappened {
        -webkit-animation-name: animateTheBlock;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-iteration-count: 4;
        animation-name: animateTheBlock;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
    }



    [data-auction_button] {
        @apply bg-auction-blue text-white;
    }


    .countdown {
        @apply w-full uppercase;
    }

    .auctionTimeLeft {
        @apply text-sm block w-full;
    }
}



.auctionCard {
    opacity:0;
    transform: scale(0.9);
    transition: all 0.2s, opacity 0.4s;


    &.intoView {
        opacity:1;
        transform: scale(1);
    }
}

@keyframes animateTheBlock {
    0% {
        @apply shadow-dp0
    }
    50% {
        @apply shadow-dp4
    }
    100% {
        @apply shadow-dp10
    }
}

@-webkit-keyframes animateTheBlock {
    0% {
        @apply shadow-dp0
    }
    50% {
        @apply shadow-dp4
    }
    100% {
        @apply shadow-dp10
    }
}
